body {
  background: linear-gradient(#000000, #0d2908);
  background-repeat: repeat-x;
  background-position: bottom;
  background-attachment: fixed;
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
}
h1 {
  background: linear-gradient(to right, #0b2906, #4c873f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 110px;
  font-family: BBH Sans Bartle;
}
h2 {
  color: #234d1b;
  text-align: center;
}
h3 {
  color: #234d1b;
  text-align: center;
}
h4 {
  color: #234d1b;
  text-align: center;
}
h5 {
  color: #326328;
  text-align: center;
}
h6 {
  color: #326328;
  text-align: center;
}
div.leftcontainer {
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 15px;
  border-radius: 10%;
  width: 300px;
  height: 350px;
  background-color: #1a5310;
  text-align: center;
  padding: 15px;
}
div.centercontainer {
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 15px;
  border-radius: 10%;
  width: 300px;
  height: 350px;
  background-color: #1a5310;
  text-align: center;
  padding: 15px;
}
div.rightcontainer {
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 15px;
  border-radius: 10%;
  width: 300px;
  height: 350px;
  background-color: #1a5310;
  text-align: center;
  padding: 15px;
}
div.info {
  display: flex;
  justify-content: center;
  align-items: center;
}
h2.containertext {
  font-size:20px;
  color: #329032;
}
button.containerbutton {
  transition-duration: 700ms;
  width: 230px;
  height: 50px;
  border-radius: 40px;
  background-color: #2db41218;
  border: 2px solid #0b2906;
}
button.containerbutton:hover {
  transition-duration: 700ms;
  width: 230px;
  height: 50px;
  border-radius: 15px;
  background-color: #2db41226;
  border: 2px solid #0b2906;
}
div.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  margin-top: 15px;
}
